/* reference for font styles

font-family: 'Droid Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Arvo', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Vollkorn', serif;
font-family: 'Cantarell', sans-serif;
font-family: 'Maven Pro', cursive;
font-family: 'Open Sans', sans-serif;

*/

/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/
body {
  font-family: 'Open Sans', sans-serif;
}

#container {
	margin: 0 auto;
	width: 960px;
}

h1 {
	font-family: Arial, sans-serif;
	font-size: 18px;
}

header {
	height: 120px;
	width: 400px;
	position: relative;
	margin-top: 20px;
}

header img#logo {
}

header h1 {
  font-size: 36pt;
  display: inline;
  top: 40px;
  left: 70px;
  position: absolute;
}

header h1 span#title-font {
  font-family: 'Lobster', cursive;
  color: #f64d3a;
}

header h1 span#title-blender {
  font-family: 'Open Sans', sans-serif;
  color: #d1dbb9;
  font-size: 0.9em;
}

article {
  width: 860px;
  margin: 0 auto;
  padding-bottom: 20px;
}

article h1.page {
  background-color: #f64d3a;
  margin: 0 auto;
  width: 400px;
  text-align: center;
  height: 50px;
  font: 300 28pt 'Open Sans', sans-serif;
  color: #fff;
  clear: both;
}

button {
	clear: both;
	float: right;
}

nav#filter{
  width: 820px;
  background-color: #fbf2d3;
  height: 20px;
  padding: 10px 20px;
  font-size: 12pt;
}

nav#filter h2 {
}

nav ul {
	list-style: none;
	display: inline;
}

nav li {
	margin: 0 30px;
	display: inline;
}

p.compatibletext {
	float: right;
}

p.variations {
	float: right;
}

/* Blend Styles */

#stepone .font{
  border: 1px solid #b8b8b8;
  width: 840px;
  padding: 10px 10px 40px 10px;
  font-size: 14pt;
  margin-bottom: 10px;
}

#stepone .font h2 {
  float: left;
}

#stepone .font .sample {
  clear: both;
}

#stepone .font .compatibletext{
  float: right;
}

#stepone .font .font-right{
  float: right;
  height: 30px;
}

#stepone .font .font-right .variations{
  margin-right: 10px;
}

#stepone .font .font-right button{
  display: inline;

}

#steptwo h1 {
	
}


#steptwo div.sidebar {
	float: left;
	width: 200px;
}

#steptwo div.preview {
	float: right;
	width: 400px
	;
}

#steptwo ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

#steptwo li {
	float: left;
	margin: 10px;
}




button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#999999 0%,
		#999999);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#999999),
		to(#999999));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #999999;
	-moz-box-shadow:
		0px 0px 0px rgba(153,153,153,0),
		inset 0px 0px 1px rgba(153,153,153,0.5);
	-webkit-box-shadow:
		0px 0px 0px rgba(153,153,153,0),
		inset 0px 0px 1px rgba(153,153,153,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}






.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}